html, body {
	color: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Alegreya Sans SC', sans-serif;
}

#background {
	background: url("../img/background.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: unsafe center;
	overflow-y: auto;
}

.gear {
	overflow: hidden;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

.gear-image {
	width: 100%;
	height: 100%;
	display: block;
	transition: transform .3s linear;
}

.gear-image:hover {
	transform: rotate(90deg);
}

.settings {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: linear-gradient(
		0,
		rgba(0,0,0,0),
		rgba(0,0,0,.8) 20%,
		rgba(0,0,0,.8) 100%
	);
	padding: 10px 80px 60px;
}

.settings-title {
	font-size: 40px;
	font-weight: 600;
}

.settings label {
	display: inline-block;
	width: 150px;
	text-align: right;
}

.settings input,
.settings button,
.settings label {
	margin: 5px;
}

.flash {
	display: block;
	padding: 5px 40px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.flash.flash-error {
	background-color: rgba(230, 0, 0, .9);
}

.flash.flash-success {
	background-color: rgba(0, 120, 0, .9);
}

.content {
	margin: 0 20px;
	display: block;
	width: 100%;
	max-width: 600px;
	background-color: rgba(0,0,0,0.7);
	box-shadow: rgba(0,0,0,0.7) 4px 4px 4px;
}

.content-stripe {
	display: block;
	height: 12px;
	background: repeating-linear-gradient(
		45deg,
		rgba(255,255,255,1),
		rgba(255,255,255,1) 6px,
		rgba(0,0,0,0) 6px,
		rgba(0,0,0,0) 14px
	);
}

.content-padding {
	padding: 40px 10px;
}

.content-title {
	font-size: 56px;
	text-align: center;
}

.content-number {
	font-family: 'Orbitron', sans-serif;
	font-size: 60px;
	text-align: center;
}

.information-content {
	display: block;
	padding: 10px;
	background: black;
}

.information-tab {
	display: block;
	width: 80px;
	margin: 0 auto;
	padding: 5px 40px;
	cursor: pointer;
	text-align: center;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background: linear-gradient(
		180deg,
		rgba(40, 40, 40, 0.4) 0,
		rgba(40, 40, 40, 0.8) 50%,
		rgba(20, 20, 20, 0.8) 100%
	);
}

.information-list {
	margin: 4px 0;
	padding-left: 16px;
}

.time {
	color: #bbb;
	text-shadow: 2px 2px 3px black;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 14px;
}

@media only screen and (max-width: 600px) {
	.settings {
		padding: 0;
	}

	.settings-title {
		text-align: center;
	}

	.settings label {
		display: block;
		width: auto;
		text-align: center;
	}

	.settings input,
	.settings button,
	.settings label {
		display: block;
		margin: 5px auto;
	}
}
